<div class="container">
  <form>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        [(ngModel)]="user.firstName"
      />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        [(ngModel)]="user.lastName"
      />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="user.username"
      />
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        name="age"
        [(ngModel)]="user.age"
      />
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addUser()"
      [disabled]="
        user.firstName === '' ||
        user.lastName === '' ||
        user.username === '' ||
        user.age === undefined
      "
    >
      Add
    </button>
  </form>
</div>
